
  body {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #FFF;
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    line-height: 147%;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  }
  
  main{
    margin: 0 auto; 
  }
  h1 {
    padding-top: 200px;


  }
  
  h2 {
    color: white;
  }
  
  h3 {}
  
  p {
    margin: 0;
    color: white;
  }
    
  .startb{
    width: 100px;
    height: 40px;
    border-radius: 14px;
    padding: 3px;
    background-color: #FFF;
    margin-top:50px;
  }
  .startb:hover{
    border-color: black;
  }
  
  .button-alt {
    color: blue;
    background-color: #fff;
  }
  

  #main {
    width:  900px;
    height: 900px;
    margin: 0 auto;
    
  }
  .splash-screen{
    text-align: center;
  }

  canvas {
    border: 6px solid white;
    border-color: aqua;
    background: black;
    width:  900px;
    height: 900px;
    margin-top: 100px;
    
 }

 .howto{
  width: 500px;
  height: 200px;
  border: 6px solid violet;
  border-radius: 33px;
  padding: 20px;
  padding-bottom: 200px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 600px;
  background-color: #e0c3fc;}

.howto h2{
  margin-bottom: 20px;
}
.howto p{
  text-align: justify;
}
.gameCanvas{
  margin-top: 100px;
}
.winner{
  margin: 0 auto;
  text-align: center;


}
